<% className = form_action.delete(:class) %>
<%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>

  <%= render :partial => "form" %>
<% end %>
<%= form_tag :action=>"merge", :id => @article.id do %>
  <div class='clearfix'>
    <label for="merge_with"><%= _("Article id")%></label>
    <div class='input'>
      <input class="large" id="merge_article" name="merge_with" size="30" type="text">
      <input type="submit" value="Merge"
    </div>
  </div>  
<% end %>